[submodule "src/pycocoevalcap1"]
	path = src/pycocoevalcap1
	url = https://github.com/salaniz/pycocoevalcap
[submodule "src/pycocoevalcap"]
	path = src/pycocoevalcap
	url = https://github.com/salaniz/pycocoevalcap
